body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.card-custom {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card-custom:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
